/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "../assets/css/get-shit-done.css";
@import url("http://fonts.googleapis.com/css?family=Italiana");
 
 $red-color:#f64d4d;
 $border-color:#acacac;
.logo{
    position:fixed;
    display: block;
    top:10px;
    width: 10%;
    left:45%;
    right: 45%;
    z-index:10;

}

.navbar-ct-red{
	color:$red-color !important;
}

.portfolio-btn{
	position:absolute;
	bottom:0px;
}

.headline{
	font-family: 'Italiana', serif;
	visibility:hidden;
}
.blurred-container > .img-src{
	height:560px !important;
}
.subtitle{
	font-size:100%;
	color:$red-color;
}
.card-container{
visibility:hidden;
}

@mixin burst{
	position:absolute;
	width:100%;
	top:0px;
}
.burst-right{
 	@include burst;
 	right:0px;
}
.burst-left{
	@include burst;
	left:0px;
}	

.main{
	background-color:rgba(0,0,0,0) !important;
}
.blurred-container > .img-src{
	border-bottom:2px solid $border-color;
}
.tim-container{
	border: 2px solid $border-color;
	padding:2px;
}
.zim-container{
	border: 2px solid $border-color;
	border-radius:10px;
	margin:2px;
	background-image:url("../images/handmadepaper.png")
}
.space{
	background-image:url("../images/")
}

/*calendar*/
	#wrap {
		width: 1100px;
		margin: 0 auto;
		}
		
	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		text-align: left;
		}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}
		
	.external-event { /* try to mimick the look of a real event */
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}

	#calendar {
/* 		float: right; */
        margin: 0 auto;
		width: 900px;
		background-color: #FFFFFF;
		  border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
		}

#cal{
	
	height:100px;
	width:600px;
	z-index:1000;
}



