/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../assets/css/get-shit-done.css);
@import url("http://fonts.googleapis.com/css?family=Italiana");
/* line 11, ../sass/screen.scss */
.logo {
  position: fixed;
  display: block;
  top: 10px;
  width: 10%;
  left: 45%;
  right: 45%;
  z-index: 10;
}

/* line 22, ../sass/screen.scss */
.navbar-ct-red {
  color: #f64d4d !important;
}

/* line 26, ../sass/screen.scss */
.portfolio-btn {
  position: absolute;
  bottom: 0px;
}

/* line 31, ../sass/screen.scss */
.headline {
  font-family: 'Italiana', serif;
  visibility: hidden;
}

/* line 35, ../sass/screen.scss */
.blurred-container > .img-src {
  height: 560px !important;
}

/* line 38, ../sass/screen.scss */
.subtitle {
  font-size: 100%;
  color: #f64d4d;
}

/* line 42, ../sass/screen.scss */
.card-container {
  visibility: hidden;
}

/* line 51, ../sass/screen.scss */
.burst-right {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
}

/* line 55, ../sass/screen.scss */
.burst-left {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

/* line 60, ../sass/screen.scss */
.main {
  background-color: rgba(0, 0, 0, 0) !important;
}

/* line 63, ../sass/screen.scss */
.blurred-container > .img-src {
  border-bottom: 2px solid #acacac;
}

/* line 66, ../sass/screen.scss */
.tim-container {
  border: 2px solid #acacac;
  padding: 2px;
}

/* line 70, ../sass/screen.scss */
.zim-container {
  border: 2px solid #acacac;
  border-radius: 10px;
  margin: 2px;
  background-image: url("../images/handmadepaper.png");
}

/* line 76, ../sass/screen.scss */
.space {
  background-image: url("../images/");
}

/* line 79, ../sass/screen.scss */
.footer {
  background-image: none !important;
  background-color: none !important;
}

/*calendar*/
/* line 84, ../sass/screen.scss */
#wrap {
  width: 1100px;
  margin: 0 auto;
}

/* line 89, ../sass/screen.scss */
#external-events {
  float: left;
  width: 150px;
  padding: 0 10px;
  text-align: left;
}

/* line 96, ../sass/screen.scss */
#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

/* line 102, ../sass/screen.scss */
.external-event {
  /* try to mimick the look of a real event */
  margin: 10px 0;
  padding: 2px 4px;
  background: #3366CC;
  color: #fff;
  font-size: .85em;
  cursor: pointer;
}

/* line 111, ../sass/screen.scss */
#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

/* line 117, ../sass/screen.scss */
#external-events p input {
  margin: 0;
  vertical-align: middle;
}

/* line 122, ../sass/screen.scss */
#calendar {
  /* 		float: right; */
  margin: 0 auto;
  width: 900px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 1px 2px #C3C3C3;
}

/* line 131, ../sass/screen.scss */
#cal {
  height: 100px;
  width: 600px;
  z-index: 1000;
}
